.header {
  padding: 40px;
  background-image: linear-gradient(180deg, #ebac8f, #f56420);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .search .ng-fa-icon {
  font-size: 25px;
  color: white;
  opacity: 0.9;
}

.header h1 {
  text-align: center;
  margin: 20px auto 50px;
  color: #3f4bb8;
  font-size: 50px;
}

.header .logout {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px 20px;
  background-image: linear-gradient(180deg, #8fc2eb, #4020f5);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
